# ─────────────────────────────────────────
# HONEYPOT ENVIRONMENT VARIABLES
# Copy this file to .env and fill in values
# ─────────────────────────────────────────

# MongoDB Atlas connection string
# Get from: https://cloud.mongodb.com → Connect → Drivers
MONGO_URI=MONGO_URI=mongodb+srv://honeypot_user:honey1234@anish.wh919.mongodb.net/honeypot_db?appName=anish


# Telegram Bot Token
# Get from: https://t.me/BotFather → /newbot
TELEGRAM_BOT_TOKEN=8288535860:AAG4Lqah7tLtEHAs30f5TwaN3fX9bKyt8eU

# Your Telegram Chat ID
# Get from: https://t.me/userinfobot
TELEGRAM_CHAT_ID=1366058743
